body{
  background-color: rgb(63, 52, 76);
  font-family: 'Open Sans', sans-serif;
}

#map{
 height: 100vh;
}

@media (max-width: 992px) {
  #map{
    height: calc(100vh - 200px);
  }
}

.row{
  width: 100%;
  margin: 0px;
}

.details-list{
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 16px;
  margin: 0;
}

@media (min-width: 992px) {
  .details-list{
    margin-top: calc(50vh - 100px);
  }
}

.details-list li{
  align-items: center;
  display: flex;
  list-style: none;
  justify-content: center;
  margin-bottom: 13px;
  font-size: 18px;
  font-weight: 400;
  color: rgb(255,255,255);
}

.details-list .info-container>*{
  display: block;
  text-align: center;
}